<div id="backgroundImg">
	<div class="container">
		<div class="jumbotron">
				<h1>What we are about!</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt purus justo, eget tempor enim ullamcorper sed. Cras venenatis nec nibh quis egestas. Nulla vel elementum nisi, non placerat nunc. Quisque commodo dui in ligula tincidunt pulvinar. Maecenas vitae accumsan ipsum. Sed sagittis diam nec odio vehicula efficitur. Fusce nec luctus ante, vel fermentum nisl. Curabitur sed commodo eros. Vivamus elit dui, pretium nec consectetur id, congue a orci.</p>
				<p><a class="btn btn-default btn-lg" [routerLink]="['Sign-up']">Get Started</a></p>
		</div>
	</div>
<div>